streamlit
wordcloud
TextBlob
scikit-learn
matplotlib
mtranslate 
selenium
nltk
plotly
numpy
scattertext==0.2.1
spacy==3.2.5
thinc
networkx
typing-extensions==4.5.0
chromedriver_autoinstaller
webdriver_manager
scipy
bs4
pandas
#spacy==3.0.6
#scattertext
#thinc